<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>课题三：自动驾驶电动汽车大数据云雾融合平台研究</title>
    
    <!--设置是否为缩放模式 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="bootstrap/3.3.4/css/bootstrap.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <!-- <script src="js/jquery.min.js"></script> -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/bootstrap.min.js"></script>

    <!-- 元素抖动 -->
    <link href="css/shake/shake.css" rel="stylesheet" media="all">

    <!-- 弹出式窗口 -->
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/modernizr.custom.js"></script>

    <!-- 服务器配置 -->
    <script src="js/server.js"></script>

    <!--echarts JS-->
    <!-- <script src="js/echarts.min.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.2/echarts.js"></script>

    <!-- 轮播swiper文件 -->
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <script src="js/swiper.min.js"></script>

    <!--界面样式-->
    <script src="js/visual.js"></script>
    <script src="js/china.js"></script>
    <!-- <script src="js/xiamen.js"></script> -->
    <script src="js/chartMap.js"></script>
    <link rel="stylesheet" type="text/css" href="css/visual.css">

    <!-- semantic UI -->
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/icon.css" rel="stylesheet">
    <!-- <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/icon.css" rel="stylesheet"> -->
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/button.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/transition.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/transition.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/button.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/icon.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/dropdown.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/dropdown.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/input.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/button.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/dropdown.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/dropdown.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/label.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/divider.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/menu.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/table.css" rel="stylesheet">

    <!-- semantic的下拉菜单不能反色，用formantic -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/fomantic-ui/2.8.7/components/dropdown.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/fomantic-ui/2.8.7/components/dropdown.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.bootcdn.net/ajax/libs/fomantic-ui/2.8.7/components/button.css" rel="stylesheet"> -->

    <!-- 百度地图 -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=NjvQlGFSxuq5B7ld8vdIWwuGfdy2sTsq"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.0&type=webgl&ak=NjvQlGFSxuq5B7ld8vdIWwuGfdy2sTsq"></script>
        <!-- 百度地图绘图需要的css，存在跨域问题，所以手动复制下来作为静态资源提供 -->
    <link rel="stylesheet" type="text/css" href="css/bmap.css">

    <!-- 容器反转 -->
    <link rel="stylesheet" type="text/css" href="css/flip.css">
    <script src="js/flip.js"></script>

    <!-- echarts 绘图脚本 -->
    <script src="js/charts.js"></script>

    <!-- 数据请求脚本 -->
    <script src="js/dashboard.js"></script>
    <script src="js/scoreboard.js"></script>

    <!-- 时钟 -->
    <!-- <link rel="stylesheet" href="css/clock.css"> -->

    <!-- 坐标转换 -->
    <script src="js/coordtransform.js"></script>

    <!-- 其他css -->
    <link rel="stylesheet" type="text/css" href="css/mine.css">
    <script src="js/mine.js"></script>

    <!-- retro button -->
    <link rel="stylesheet" href="css/retro-button/style.css">

</head>
<body class="ksh" id='main_body'>
    
    <div id="load">
        <div class="load_img">
            <!-- 加载动画 -->
            <img class="jzxz1" src="images/jzxz1.png">
            <img class="jzxz2" src="images/jzxz2.png">
        </div>
    </div>
    <div id='main_title' class="head_top"><span>课题三：自动驾驶电动汽车大数据云雾融合平台研究</span></div>
    <div class="visual">
        <div class="visual_left" style="width: 50%;">
            <div class="visual_box" style="width: 98%; height: 98%;">
                <div class="visual_title" style="width: 60%;">
                    <span>单车云端数据信息</span>
                    <img src="images/ksh33.png">
                </div>
    
                <div class="visual_chart">

                    <div class="swiper-container visual_swiper1" style="margin: 0.5%; width: 98%; height: 49%; float: left;"> 
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="visual_conBot" style="width: 100%; height: 100%;">
                                    <img class="visual_conBot_l" src="images/ksh42.png">
                                    <img class="visual_conBot_2" src="images/ksh43.png">
                                    <img class="visual_conBot_3" src="images/ksh44.png">
                                    <img class="visual_conBot_4" src="images/ksh45.png">
                                    <div class="visual_chart_text">
                                        <h2>数字表盘</h2>
                                    </div>
                                    <div class="visual_chart" id="detail_guage" style="margin: 1%; height: 98%; width: 98%;">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="visual_conBot" style="width: 100%; height: 100%;">
                                    <img class="visual_conBot_l" src="images/ksh42.png">
                                    <img class="visual_conBot_2" src="images/ksh43.png">
                                    <img class="visual_conBot_3" src="images/ksh44.png">
                                    <img class="visual_conBot_4" src="images/ksh45.png">
                                    <div class="visual_chart_text">
                                        <!-- <h2>详细信息</h2> -->
                                    </div>
                                    <div class="visual_chart" style="margin: 1%; height: 100%; width: 98%;">
                                        <div style="width: 100%; height: 100%; overflow: auto;">
                                            <table class="ui inverted table">
                                                <thead>
                                                    <tr>
                                                        <th class="four wide">条目</th>
                                                        <th class="six wide">数据</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Vin</td>
                                                        <td id="table_vin">AIFNI239874798</td>
                                                    </tr>
                                                    <tr>
                                                        <td>状态</td>
                                                        <td id="table_status">unknown</td>
                                                    </tr>
                                                    <tr>
                                                        <td>速度</td>
                                                        <td id="table_speed">32 KM/H</td>
                                                    </tr>
                                                    <tr>
                                                        <td>电量</td>
                                                        <td id="table_power">10 %</td>
                                                    </tr>
                                                    <tr>
                                                        <td>位置</td>
                                                        <td id="table_position">116°E，40°N</td>
                                                    </tr>
                                                    <tr>
                                                        <td>车辆运行时间</td>
                                                        <td id="table_time">1H</td>
                                                    </tr>
                                                    <tr>
                                                        <td>车辆温度</td>
                                                        <td id="table_temprature">35°C</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="visual_conBot" style="margin: 0.5%; width: 98%; height: 49%; float: left;">
                        <img class="visual_conBot_l" src="images/ksh42.png">
                        <img class="visual_conBot_2" src="images/ksh43.png">
                        <img class="visual_conBot_3" src="images/ksh44.png">
                        <img class="visual_conBot_4" src="images/ksh45.png">
                        <div class="visual_chart_text">
                            <h2>数字表盘</h2>
                        </div>
                        <div class="visual_chart" id="detail_guage" style="margin: 1%; height: 98%; width: 98%;">
                            
                        </div>
                    </div> -->

                    <div class="visual_conBot" style="margin: 0.5%; width: 48.5%; height: 49%; float: left;">
                        <img class="visual_conBot_l" src="images/ksh42.png">
                        <img class="visual_conBot_2" src="images/ksh43.png">
                        <img class="visual_conBot_3" src="images/ksh44.png">
                        <img class="visual_conBot_4" src="images/ksh45.png">
                        <div class="visual_chart_text">
                            <h2>轨迹信息</h2>
                        </div>
                        <div class="visual_chart" id="eagle_map" style="margin: 1%; height: 98%; width: 98%;">
                            
                        </div>
                    </div>

                    <div class="swiper-container visual_swiper1" style="margin: 0.5%; width: 48.5%; height: 49%; float: left;"> 
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="visual_conBot" style="width: 100%; height: 100%;">
                                    <img class="visual_conBot_l" src="images/ksh42.png">
                                    <img class="visual_conBot_2" src="images/ksh43.png">
                                    <img class="visual_conBot_3" src="images/ksh44.png">
                                    <img class="visual_conBot_4" src="images/ksh45.png">
                                    <div class="visual_chart_text">
                                        <h2>历史速度信息</h2>
                                    </div>
                                    <div class="visual_chart" id="history_speed" style="margin: 1%; height: 98%; width: 98%;">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="visual_conBot" style="width: 100%; height: 100%;">
                                    <img class="visual_conBot_l" src="images/ksh42.png">
                                    <img class="visual_conBot_2" src="images/ksh43.png">
                                    <img class="visual_conBot_3" src="images/ksh44.png">
                                    <img class="visual_conBot_4" src="images/ksh45.png">
                                    <div class="visual_chart_text">
                                        <h2>历史电池信息</h2>
                                    </div>
                                    <div class="visual_chart" id="history_battery" style="margin: 1%; height: 98%; width: 98%;">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div style="width: 100%; height: 100%;">
                        <table class="ui inverted table">
                            <thead>
                                <tr>
                                    <th class="four wide">条目</th>
                                    <th class="six wide">数据</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Vin</td>
                                    <td>AIFNI239874798</td>
                                </tr>
                                <tr>
                                    <td>速度</td>
                                    <td>32 KM/H</td>
                                </tr>
                                <tr>
                                    <td>电量</td>
                                    <td>10 %</td>
                                </tr>
                                <tr>
                                    <td>位置</td>
                                    <td>116°E，40°N</td>
                                </tr>
                                <tr>
                                    <td>车辆运行时间</td>
                                    <td>1H</td>
                                </tr>
                                <tr>
                                    <td>车辆温度</td>
                                    <td>35°C</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                </div>
    
            </div>
        </div>
        

        <div class="visual_right" style="width: 50%;">
            <!-- <div class="visual_conBot" style="width: 98%; height: 49%;">
                <img class="visual_conBot_l" src="images/ksh42.png">
                <img class="visual_conBot_2" src="images/ksh43.png">
                <img class="visual_conBot_3" src="images/ksh44.png">
                <img class="visual_conBot_4" src="images/ksh45.png">
                <div class="visual_chart_text">
                    <h2>远程决策结果展示视频</h2>
                </div>
                <div class="visual_chart" style="margin: 1%; height: 98%; width: 98%;">
                    <iframe id="video1" src="video.html" style="width: 100%; height: 98%; "  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
                </div>
            </div> -->

            <div class="visual_box" style="width: 98%; height: 49%;">
                <div class="visual_title" style="width: 60%;">
                    <span>远程决策结果展示视频</span>
                    <img src="images/ksh33.png">
                </div>
                <div class="visual_chart">
                    <iframe id="video1" src="video.html" style="width: 100%; height: 98%; "  frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
                </div>
            </div>

            <div class="visual_box" style="width: 98%; height: 49%;">
                <div class="visual_title" style="width: 60%;">
                    <span>远程决策支持系统</span>
                    <img src="images/ksh33.png">
                </div>

                
                <div class="visual_chart">
                    <div style="width: 100%; height: 100%; overflow: auto; float: left;">

                        <h4 class="ui horizontal inverted divider header">
                            <i class="bell outline icon"></i>
                            即时信息
                        </h4>

                        <div class="ui input floating focus" style="width: 40%;">
                            <input id='message_content' type="text" placeholder="请输入消息内容">
                        </div>

                        <div id='message_level' class="ui floating icon dropdown button">
                            <!-- 没法用js的方法设置默认值 -->
                            <span class="text">
                                <div class="ui green empty circular label"></div>
                                提醒
                            </span>
                            <div class="menu">
                                <div class="item">
                                    <!-- <div class="ui red horizontal label">危急</div> -->
                                    <div class="ui red empty circular label"></div>
                                    危险
                                </div>
                                <div class="item">
                                    <div class="ui orange empty circular label"></div>
                                    警告
                                </div>
                                <div class="item" id='default_level'>
                                    <div class="ui green empty circular label"></div>
                                    提醒
                                </div>
                            </div>
                        </div>

                        <div class="ui buttons" style="width: 25%;">
                            <button class="ui inverted button" onclick="make_decision()">发送</button>
                            <div class="or"></div>
                            <button id='save_ope_btn' class="ui inverted blue button" onclick="save_operation()">保存</button>
                        </div>

                        <button id='remove_ope_btn' class="ui inverted right floated button" onclick="remove_operation()">移除信息</button>

                        <h4 class="ui horizontal inverted divider header">
                            <i class="eye icon"></i>
                            自动决策系统
                        </h4>

                        <button id='auto_battery' class="ui inverted violet button" style="margin-top: 5px;" onclick="auto_battery_decide()">自动电量决策已关闭</button>
                        <button id='auto_road' class="ui inverted violet button" style="margin-top: 5px;" onclick="auto_road_decide()">自动路况决策已关闭</button>
                        <!-- <button class="ui violet button" style="margin-top: 5px;">自动电量决策已启动</button> -->
                        <!-- <button id='auto_all' class="ui inverted button" style="margin-top: 5px;" onclick="auto_all_decide()">一键开启</button> -->
 
                        <h4 class="ui horizontal inverted divider header">
                            <i class="tag icon"></i>
                            快捷信息
                        </h4>

                        <div id='saved_operation'>
                            <button class="saved_ope ui inverted red button" style="margin-bottom: 5px;" onclick="saved_but_click(this)">危险：你的车很危急</button>
                            <button class="saved_ope ui inverted orange button" style="margin-bottom: 5px;" onclick="saved_but_click(this)">警告：你的车有一点点危急</button>
                            <button class="saved_ope ui inverted green button" style="margin-bottom: 5px;" onclick="saved_but_click(this)">提醒：hi!</button>
                        </div>
                    </div>
                    <!-- 车辆反馈信息可以坐在这里，也可以做在左侧信息栏里 -->
                    <!-- <div id='warning_button' style="width: 30%; height: 100%; overflow: auto; float: left;">

                    </div> -->
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <script>
        $('#message_level')
            .dropdown()
        ;

        // $('#message_level').dropdown('set selected', '<div class="ui orange empty circular label"></div>警告');
        // $('#message_level').dropdown('set text', '警告');
    </script>

    <!-- <script  src="js/clock.js"></script> -->
    <script>
        var auto_battery_on = false;
        // $("#auto_battery").mouseover(function(){
        //     console.log('over')
        // });
        function auto_battery_decide(){
            if(auto_battery_on == true){
                auto_battery_on = false;
                $('#auto_battery').text('自动电量决策已关闭');
                $('#auto_battery').addClass('inverted');
            }else{
                auto_battery_on = true;
                $('#auto_battery').text('自动电量决策已启动');
                $('#auto_battery').removeClass('inverted');
            }
        }

        var auto_road_on = false;
        function auto_road_decide(){
            if(auto_road_on == true){
                auto_road_on = false;
                $('#auto_road').text('自动路况决策已关闭');
                $('#auto_road').addClass('inverted');
            }else{
                auto_road_on = true;
                $('#auto_road').text('自动路况决策已启动');
                $('#auto_road').removeClass('inverted');
            }
        }

        // var auto_all_on = false;
        // function auto_all_decide(){
        //     $('#auto_battery').click();
        //     $('#auto_road').click();
        //     if(auto_road_on == true){
        //         auto_road_on = false;
        //         $('#auto_road').text('自动路况决策已关闭');
        //         $('#auto_road').addClass('inverted');
        //     }else{
        //         auto_road_on = true;
        //         $('#auto_road').text('自动路况决策已启动');
        //         $('#auto_road').removeClass('inverted');
        //     }
        // }
    </script>
    <script>
        // 去掉字符串里的所有空格
        function Trim(str){ 
            return str.replace(/(^\s*)|(\s*$)/g, ""); 
        }

        function make_decision(){
            var cur_level = Trim($('#message_level').dropdown('get text'));
            var cur_content = $('#message_content').val();

            console.log(cur_level);
            console.log(cur_content);

            if(cur_content == ''){
                cur_content = '请输入消息内容';
            }
            send_decision(cur_level, cur_content);
        }

        function send_decision(level, content){
            console.log('send_decision awaken');
            alert('信息等级：'+level+'\n信息内容：'+content);
        }

        function save_operation(){
            var cur_level = Trim($('#message_level').dropdown('get text'));
            var cur_content = $('#message_content').val();

            console.log(cur_level);
            console.log(cur_content);

            if(cur_content == ''){
                cur_content = '请输入消息内容';
            }

            var but_content = cur_level+': '+cur_content

            cur_button = '<button class="saved_ope ui inverted ';
            switch(cur_level){
                case '提醒': cur_button += 'green'; break;
                case '警告': cur_button += 'orange'; break;
                case '危险': cur_button += 'red'; break;
            }
            cur_button += ' button" style="margin-bottom: 5px;" onclick="saved_but_click(this)">';
            cur_button += but_content;
            cur_button += '</button>';

            $('#saved_operation').append(cur_button);
        }

        function saved_but_click(cur_but){

            if(cur_remove_mode == false){
                var cur_text = $(cur_but).text();
                var cur_level = cur_text.slice(0,2);
                var cur_content = cur_text.slice(3);

                send_decision(cur_level, cur_content);
            }else{
                $(cur_but).remove();
            }
        }

        var cur_remove_mode = false;
        function remove_operation(){
            if(cur_remove_mode == true){
                cur_remove_mode = false;
                $('#remove_ope_btn').addClass('inverted');
                $('.saved_ope').hover(function(){}, function(){});
            }else{
                $('.saved_ope').hover(function(){
                    if(cur_remove_mode == true){
                        $(this).addClass('shake');
                    }
                }, function(){
                    $(this).removeClass('shake');
                });
                cur_remove_mode = true;
                $('#remove_ope_btn').removeClass('inverted');
            }
        }
        
    </script>

    <script type="text/javascript" src="js/subfig_2.js"></script>
    <!-- <script type="text/javascript" src="js/baiduMap.js"></script> -->

    <script type="text/javascript">
    // TODO:不知道怎么关闭自动轮播，所以先把delay拉的很长
        var mySwiper1 = new Swiper('.visual_swiper1', {
            autoplay: false,//可选选项，自动滑动
            speed: 2000,//可选选项，滑动速度
            autoplay: {
                delay: 500000000,//1秒切换一次
            },
        })

        $(function () {
            var a = $('.visualSssf_left a')
            for (var i = 0; i < a.length; i++) {
                a[i].index = i;
                a[i].onclick = function () {
                    for (var i = 0; i < a.length; i++) {
                        a[i].className = ''
                    }
                    this.className = 'active'
                }
            }

            var sfzcllH = $('.sfzcll_box').height()
            var sfzcllHtwo = sfzcllH - 2
            $('.sfzcll_box').css('line-height', sfzcllH + 'px')
            $('.sfzcll_smallBk>div').css('line-height', sfzcllHtwo + 'px')

            //删除加载动画
            $('#load').fadeOut(1000)
            setTimeout(function () {
                $('#load').remove()
            }
    		, 1100);
        })

    </script>
    

</body>
</html>

<!-- 仪表盘 -->
<script>
    var chartGuage = echarts.init(document.getElementById('detail_guage'));
    var optionGuage;

    optionGuage = {
        // backgroundColor: '#1b1b1b',
        tooltip: {
            formatter: '{a} <br/>{c} {b}'
        },
        // toolbox: {
        //     show: true,
        //     feature: {
        //         mark: { show: true },
        //         restore: { show: true },
        //         saveAsImage: { show: true }
        //     }
        // },
        series: [
            {
                name: '速度',
                type: 'gauge',
                min: 0,
                max: 120,
                splitNumber: 6,
                radius: '80%',
                axisLine: {            // 坐标轴线
                    lineStyle: {       // 属性lineStyle控制线条样式
                        color: [[0.09, 'lime'], [0.82, '#1e90ff'], [1, '#ff4500']],
                        width: 3,
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                axisLabel: {            // 坐标轴小标记
                    fontWeight: 'bolder',
                    color: '#fff',
                    shadowColor: '#fff', //默认透明
                    shadowBlur: 10
                },
                axisTick: {            // 坐标轴小标记
                    length: 15,        // 属性length控制线长
                    lineStyle: {       // 属性lineStyle控制线条样式
                        color: 'auto',
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                splitLine: {           // 分隔线
                    length: 25,         // 属性length控制线长
                    lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                        width: 3,
                        color: '#fff',
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                pointer: {           // 分隔线
                    shadowColor: '#fff', //默认透明
                    shadowBlur: 5
                },
                title: {
                    textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                        fontWeight: 'bolder',
                        fontSize: 20,
                        fontStyle: 'italic',
                        color: '#fff',
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                detail: {
                    backgroundColor: 'rgba(30,144,255,0.8)',
                    borderWidth: 1,
                    borderColor: '#fff',
                    shadowColor: '#fff', //默认透明
                    shadowBlur: 5,
                    offsetCenter: [0, '50%'],       // x, y，单位px
                    textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                        fontWeight: 'bolder',
                        color: '#fff'
                    }
                },
                data: [{ value: 40, name: 'km/h' }]
            },
            {
                name: '转速',
                type: 'gauge',
                center: ['25%', '55%'],    // 默认全局居中
                radius: '50%',
                min: 0,
                max: 7,
                endAngle: 45,
                splitNumber: 7,
                axisLine: {            // 坐标轴线
                    lineStyle: {       // 属性lineStyle控制线条样式
                        color: [[0.29, 'lime'], [0.86, '#1e90ff'], [1, '#ff4500']],
                        width: 2,
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                axisLabel: {            // 坐标轴小标记
                    fontWeight: 'bolder',
                    color: '#fff',
                    shadowColor: '#fff', //默认透明
                    shadowBlur: 10
                },
                axisTick: {            // 坐标轴小标记
                    length: 12,        // 属性length控制线长
                    lineStyle: {       // 属性lineStyle控制线条样式
                        color: 'auto',
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                splitLine: {           // 分隔线
                    length: 20,         // 属性length控制线长
                    lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                        width: 3,
                        color: '#fff',
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                pointer: {
                    width: 5,
                    shadowColor: '#fff', //默认透明
                    shadowBlur: 5
                },
                title: {
                    offsetCenter: [0, '-30%'],       // x, y，单位px
                    textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                        fontWeight: 'bolder',
                        fontStyle: 'italic',
                        color: '#fff',
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                detail: {
                    //backgroundColor: 'rgba(30,144,255,0.8)',
                    // borderWidth: 1,
                    borderColor: '#fff',
                    shadowColor: '#fff', //默认透明
                    shadowBlur: 5,
                    width: 80,
                    height: 30,
                    offsetCenter: [25, '20%'],       // x, y，单位px
                    textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                        fontWeight: 'bolder',
                        color: '#fff'
                    }
                },
                data: [{ value: 1.5, name: 'x1000 r/min' }]
            },
            {
                name: '电表',
                type: 'gauge',
                center: ['75%', '50%'],    // 默认全局居中
                radius: '50%',
                min: 0,
                max: 100,
                startAngle: 135,
                endAngle: 45,
                splitNumber: 2,
                axisLine: {            // 坐标轴线
                    lineStyle: {       // 属性lineStyle控制线条样式
                        color: [[0.2, 'lime'], [0.8, '#1e90ff'], [1, '#ff4500']],
                        width: 2,
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                axisTick: {            // 坐标轴小标记
                    length: 12,        // 属性length控制线长
                    lineStyle: {       // 属性lineStyle控制线条样式
                        color: 'auto',
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                axisLabel: {
                    fontWeight: 'bolder',
                    color: '#fff',
                    shadowColor: '#fff', //默认透明
                    shadowBlur: 10,
                    formatter: function (v) {
                        switch (v + '') {
                            case '0': return 'E';
                            case '50': return '电量';
                            case '100': return 'F';
                        }
                    }
                },
                splitLine: {           // 分隔线
                    length: 15,         // 属性length控制线长
                    lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                        width: 3,
                        color: '#fff',
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                pointer: {
                    width: 2,
                    shadowColor: '#fff', //默认透明
                    shadowBlur: 5
                },
                title: {
                    show: false
                },
                detail: {
                    show: false
                },
                data: [{ value: 0.5, name: '%' }]
            },
            {
                name: '温度',
                type: 'gauge',
                center: ['75%', '50%'],    // 默认全局居中
                radius: '50%',
                min: 0,
                max: 80,
                startAngle: 315,
                endAngle: 225,
                splitNumber: 2,
                axisLine: {            // 坐标轴线
                    lineStyle: {       // 属性lineStyle控制线条样式
                        color: [[0.2, 'lime'], [0.8, '#1e90ff'], [1, '#ff4500']],
                        width: 2,
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                axisTick: {            // 坐标轴小标记
                    show: false
                },
                axisLabel: {
                    fontWeight: 'bolder',
                    color: '#fff',
                    shadowColor: '#fff', //默认透明
                    shadowBlur: 10,
                    formatter: function (v) {
                        switch (v + '') {
                            case '0': return 'L';
                            case '40': return '°C';
                            case '80': return 'H';
                        }
                    }
                },
                splitLine: {           // 分隔线
                    length: 15,         // 属性length控制线长
                    lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                        width: 3,
                        color: '#fff',
                        shadowColor: '#fff', //默认透明
                        shadowBlur: 10
                    }
                },
                pointer: {
                    width: 2,
                    shadowColor: '#fff', //默认透明
                    shadowBlur: 5
                },
                title: {
                    show: false
                },
                detail: {
                    show: false
                },
                data: [{ value: 0.5, name: '°C' }]
            }
        ]
    };

    // setInterval(function () {
    //     optionGuage.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;
    //     optionGuage.series[1].data[0].value = (Math.random() * 7).toFixed(2) - 0;
    //     optionGuage.series[2].data[0].value = (Math.random() * 2).toFixed(2) - 0;
    //     optionGuage.series[3].data[0].value = (Math.random() * 2).toFixed(2) - 0;
    //     chartGuage.setOption(optionGuage);
    // }, 2000);
</script>

<!-- 百度地图 -->
<script>
    var map = new BMapGL.Map("eagle_map");

    map.centerAndZoom(new BMapGL.Point(121.447176,31.033731),16);

    map.setMapStyleV2({     
        styleId: '0c4e2c205d522daab0c5090baf1e0163'
    });

    map.enableScrollWheelZoom(true);    //允许滚轮缩放地图
    var top_left_control = new BMapGL.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
    var top_left_navigation = new BMapGL.NavigationControl();  //左上角，添加默认缩放平移控件
    var top_right_navigation = new BMapGL.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL}); //右上角，仅包含平移和缩放按钮

    map.addControl(top_right_navigation);
</script>

<!-- 速度历史线 -->
<script>
    // function randomData() {
    //     now = new Date(+now + oneDay);
    //     value = value + Math.random() * 10 - 5;
    //     if(value > 50){
    //         value = 50;
    //     }
    //     if(value < 0){
    //         value = 0;
    //     }
    //     return {
    //         name: now.toString(),
    //         value: [
    //             [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
    //             Math.round(value)
    //         ]
    //     };
    // }

    // var data = [];
    // var now = +new Date(1997, 9, 3);
    // var oneDay = 24 * 3600 * 1000;
    // var value = 30;
    // for (var i = 0; i < 1000; i++) {
    //     data.push(randomData());
    // }

    var chartSpeed = echarts.init(document.getElementById('history_speed'));
    var optionSpeed;

    optionSpeed = {
        tooltip: { //鼠标指上时的标线
            trigger: 'axis',
            axisPointer: {
                lineStyle: {
                    color: '#fff'
                }
            }
        },
        legend: {
            icon: 'rect',
            itemWidth: 14,
            itemHeight: 5,
            itemGap: 13,
            data: ['速度'],
            right: '10px',
            top: '0px',
            textStyle: {
                fontSize: 12,
                color: '#fff'
            }
        },
        grid: {
            x: 35,
            y: 60,
            x2: 8,
            y2: 25,
        },
        xAxis: [{
            type: 'time',
            boundaryGap: false,
            axisLine: {
                lineStyle: {
                    color: '#57617B'
                }
            },
            axisLabel: {
                textStyle: {
                    color: '#fff',
                },
            },
            // data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
        }],
        yAxis: [{
            type: 'value',
            axisTick: {
                show: false
            },
            axisLine: {
                lineStyle: {
                    color: '#57617B',

                }
            },
            axisLabel: {
                margin: 10,
                textStyle: {
                    fontSize: 14
                },
                textStyle: {
                    color: '#fff',
                },
            },
            splitLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.2)',
                    type: 'dotted',
                }
            }
        }],
        dataZoom: [{
            type: 'inside',
        }],
        series: [{
            name: '速度',
            type: 'line',
            smooth: true,
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 2
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(137, 189, 27, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(137, 189, 27, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 10
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(137,189,27)'
                }
            },
            data: []
        }]
    };

    

    chartSpeed.setOption(optionSpeed);

    // setInterval(function () {
    //     for (var i = 0; i < 5; i++) {
    //         data.shift();
    //         data.push(randomData());
    //     }

    //     chartSpeed.setOption({
    //         series: [{
    //             data: data
    //         }]
    //     });
    // }, 1000);
</script>

<!-- 电量历史线 -->
<script>
    function randomData2() {
        now2 = new Date(+now2 + oneDay2);
        value2 = value2 + Math.random() * 10 - 5;
        if(value2 > 100){
            value2 = 100;
        }
        if(value2 < 0){
            value2 = 0;
        }
        return {
            name: now2.toString(),
            value: [
                [now2.getFullYear(), now2.getMonth() + 1, now2.getDate()].join('/'),
                Math.round(value2)
            ]
        };
    }

    var data2 = [];
    var now2 = +new Date(1997, 9, 3);
    var oneDay2 = 24 * 3600 * 1000;
    var value2 = 30;
    for (var i = 0; i < 1000; i++) {
        data2.push(randomData2());
    }

    var chartBattery= echarts.init(document.getElementById('history_battery'));
    var optionBattery;

    optionBattery = {
        tooltip: { //鼠标指上时的标线
            trigger: 'axis',
            axisPointer: {
                lineStyle: {
                    color: '#fff'
                }
            }
        },
        legend: {
            icon: 'rect',
            itemWidth: 14,
            itemHeight: 5,
            itemGap: 13,
            data: ['电量'],
            right: '10px',
            top: '0px',
            textStyle: {
                fontSize: 12,
                color: '#fff'
            }
        },
        grid: {
            x: 35,
            y: 60,
            x2: 8,
            y2: 25,
        },
        xAxis: [{
            type: 'time',
            boundaryGap: false,
            axisLine: {
                lineStyle: {
                    color: '#57617B'
                }
            },
            axisLabel: {
                textStyle: {
                    color: '#fff',
                },
            },
            // data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
        }],
        yAxis: [{
            type: 'value',
            axisTick: {
                show: false
            },
            axisLine: {
                lineStyle: {
                    color: '#57617B',

                }
            },
            axisLabel: {
                margin: 10,
                textStyle: {
                    fontSize: 14
                },
                textStyle: {
                    color: '#fff',
                },
            },
            splitLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.2)',
                    type: 'dotted',
                }
            }
        }],
        series: [{
            name: '电量',
            type: 'line',
            smooth: true,
            showSymbol: false,
            lineStyle: {
                normal: {
                    width: 2
                }
            },
            areaStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                        offset: 0,
                        color: 'rgba(0, 136, 212, 0.3)'
                    }, {
                        offset: 0.8,
                        color: 'rgba(0, 136, 212, 0)'
                    }], false),
                    shadowColor: 'rgba(0, 0, 0, 0.1)',
                    shadowBlur: 10
                }
            },
            itemStyle: {
                normal: {
                    color: 'rgb(0,136,212)'
                }
            },
            data: data2
        }]
    };

    

    chartBattery.setOption(optionBattery);

    setInterval(function () {
        for (var i = 0; i < 5; i++) {
            data2.shift();
            data2.push(randomData2());
        }

        chartBattery.setOption({
            series: [{
                data: data2
            }]
        });
    }, 1000);
</script>


<script>
    function requestSingleCarDetail(){
        $.ajax({
            // 3
            url: server_ip+'api/car_current_info', //请求的url
            type: 'get', //请求的方式
            data: "vin=LL3ACCJ22JA011664",
            error: function (data) {
                console.log('requestSingleCarDetail请求失败');
            },
            success: function (data) {
                var cur_vin = data['Vin'];
                var cur_status = data['Status'];
                var cur_speed = data['Speed'];
                var cur_power = data['Soc'];
                var cur_lati = data['Latitude'];
                var cur_long = data['Longitude'];
                var cur_temp = data['Temperature'];

                var cur_position = (cur_long).toString() + '°E，' + (cur_lati).toString() + '°N'

                // 设置表格
                $("#table_vin").html(cur_vin);
                $("#table_status").html(cur_status);
                $("#table_speed").html(cur_speed);
                $("#table_power").html(cur_power);
                $("#table_position").html(cur_position);
                $("#table_temprature").html(cur_temp.toString()+'°C');

                // 设置仪表盘
                optionGuage['series'][0]['data'][0]['value'] = cur_speed;
                optionGuage['series'][1]['data'][0]['value'] = 0;
                optionGuage['series'][2]['data'][0]['value'] = parseFloat(cur_power);
                optionGuage['series'][3]['data'][0]['value'] = cur_temp;

                chartGuage.setOption(optionGuage);

                setTimeout(function(){
                    requestSingleCarDetail();
                }, 3000);
            }
        });
    }

    var last_path_timestamp = '2017-07-27 14:26:00'

    function requestSingleCarPath(){
        $.ajax({
            url: server_ip+'api/car_history_loc', //请求的url
            type: 'get', //请求的方式
            // TODO: 轨迹区间需要动态修改
            data: "vin=LL3ACCJ22JA011664&st="+getTimeSecond(7)+"&et="+getTimeSecond(0),
            error: function (data) {
                console.log('requestSingleCarPath请求失败');
            },
            success: function (data) {
                var new_path = []
                var polylineNaive;

                for(var i = 0; i < data.length; ++i){
                    if(data[i]['T'] < last_path_timestamp || !rawPointValid(data[i]['Longitude'], data[i]['Latitude'])){
                        continue;
                    }
                    new_path.push(wgs84tobdpoint(data[i]['Longitude'], data[i]['Latitude']));

                    // TODO: 可优化，减少赋值次数
                    last_path_timestamp = data[i]['T'];
                }

                if(new_path.length > 1){
                    polylineNaive = new BMapGL.Polyline(new_path, { strokeColor: "#5470C6", strokeWeight: 5, strokeOpacity: 0.8 });
                    map.addOverlay(polylineNaive);

                    var view = map.getViewport(new_path);
                    var mapZoom = view.zoom; 
                    var centerPoint = view.center; 
                    map.centerAndZoom(centerPoint,mapZoom);
                }

                // TODO: 动态查询新数据
                // setTimeout(function(){
                //     requestSingleCarPath();
                // }, 3000);
            }
        });
    }

    var last_speed_timestamp = '2017-07-27 14:26:00'

    function requestSingleCarSpeed(){
        $.ajax({
            url: server_ip+'api/car_history_speed', //请求的url
            type: 'get', //请求的方式
            data: "vin=LL3ACCJ22JA011664&st="+getTimeSecond(7)+"&et="+getTimeSecond(0),
            error: function (data) {
                console.log('requestSingleCarSpeed请求失败');
            },
            success: function (data) {

                var ori_data = optionSpeed['series'][0]['data'];

                for(var i = 0; i < data.length; ++i){
                    if(data[i]['T'] < last_speed_timestamp){
                        continue;
                    }
                    ori_data.push({
                        name: data[i]['T'],
                        value: [
                            data[i]['T'],
                            data[i]['Speed']
                        ]
                    });

                    // TODO: 可优化，减少赋值次数
                    last_speed_timestamp = data[i]['T'];
                }

                chartSpeed.setOption({
                    series: [{
                        data: ori_data
                    }]
                });
            }
        });
    }
</script>

<!-- 启动功能 -->
<script>
    requestSingleCarDetail();
    requestSingleCarPath();
    requestSingleCarSpeed();

</script>