<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=NjvQlGFSxuq5B7ld8vdIWwuGfdy2sTsq"></script>
	<title>激光雷达点云图</title>
</head>
<body>
	<div id="allmap" style="width: 100%; height: 100%;">
		<img src="images/TMC.jpeg" width="100%" >
	</div>
</body>
</html>