<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>课题三：自动驾驶电动汽车大数据云雾融合平台研究</title>
    <!--设置是否为缩放模式 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/bootstrap.min.js"></script>

    <!-- 弹出式窗口 -->
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <script src="js/modernizr.custom.js"></script>

    <!-- 服务器配置 -->
    <script src="js/server.js"></script>

    <!--echarts JS-->
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.0.2/echarts.min.js"></script>

    <!-- 轮播swiper文件 -->
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <!-- <script src="js/swiper.min.js"></script> -->

    <!--界面样式-->
    <link rel="stylesheet" type="text/css" href="css/visual.css">

    <!-- semantic UI -->
    <!-- <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/icon.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/icon.css" rel="stylesheet"> -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/transition.js"></script> -->
    <!-- <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/transition.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/button.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/icon.css" rel="stylesheet"> -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/dropdown.js"></script> -->
    <!-- <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/dropdown.css" rel="stylesheet"> -->
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/statistic.css" rel="stylesheet">
    <!-- <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/components/table.css" rel="stylesheet"> -->

    <!-- 其他css -->
    <link rel="stylesheet" type="text/css" href="css/mine.css">
    <script src="js/mine.js"></script>

    <style type="text/css">
        svg {
            width: 100%;
            height: 100%;
            margin: 20px;
            display: inline-block;
        }
        @keyframes scale{
                    0%{transform:scale(1)}
                    50%,75%{transform:scale(3)}
                    78%,100%{opacity:0}
                }
                .item1 {
                position: absolute;
                width: 14px;
                height: 14px;
                background-color: #FFFF00;
                border-radius: 50%;
                margin: 100px  100px 50px 200px;
                }
                .item1:before {
                content: '';
                display:block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                opacity: .7;
                background-color: #FFFF00;
                animation: scale 2s infinite cubic-bezier(0,0,.49,1.02);
                animation-delay: 200ms;
                }
                .item2 {
                position: absolute;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #5BFF4A;
                margin: 100px  100px 50px 300px;
                }
                
                .item2:before {
                content: '';
                display:block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #5BFF4A;
                opacity: .7;
                animation: scale 2s infinite cubic-bezier(0,0,.49,1.02);
                animation-delay: 100ms;
                }
                .item3 {
                position: absolute;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #FF66CC;
                margin: 180px  100px 50px 200px;
                }
                
                .item3:before {
                content: '';
                display:block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #FF66CC;
                opacity: .7;
                animation: scale 2s infinite cubic-bezier(0,0,.49,1.02);
                animation-delay: 400ms;
                }
                .item4 {
                position: absolute;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #FF0033;
                margin: 180px  100px 50px 300px;
                }
                
                .item4:before {
                content: '';
                display:block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #FF0033;
                opacity: .7;
                animation: scale 2s infinite cubic-bezier(0,0,.49,1.02);
                animation-delay: 300ms;
                }
    </style>

</head>
<body class="ksh" id='main_body'>
    <!-- 告警信息必须放置在body的头部，并且不能包含在div中 -->
       
    <div id="load">
        <div class="load_img">
            <!-- 加载动画 -->
            <img class="jzxz1" src="images/jzxz1.png">
            <img class="jzxz2" src="images/jzxz2.png">
        </div>
    </div>
    <div class="head_top"><span>课题三：自动驾驶电动汽车大数据云雾融合平台研究</span></div>
    <div class="visual" style="padding-left: 2%;">
        <div class="visual_left" style="width: 33%; height: 70%; float: left;">
            <div style="width: 100%; position: absolute;">
                <div class="visual_conBot" style="width: 30vw;height: 30vw;">
                    <img class="visual_conBot_l" src="images/ksh42.png">
                    <img class="visual_conBot_2" src="images/ksh43.png">
                    <img class="visual_conBot_3" src="images/ksh44.png">
                    <img class="visual_conBot_4" src="images/ksh45.png">
                    <div class="visual_chart_text">
                        <h1>各类型数据占比</h1>
                    </div>
                    <div class="visual_chart" id='type_pie' style="margin: 1%; height: 98%; width: 98%; margin-top: 5%;">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="visual_right" style="width: 33%; height: 70%; float: left;">
            <div style="width: 100%; position: absolute;">
                <div class="visual_conBot" style="width: 30vw;height: 30vw;">
                    <img class="visual_conBot_l" src="images/ksh42.png">
                    <img class="visual_conBot_2" src="images/ksh43.png">
                    <img class="visual_conBot_3" src="images/ksh44.png">
                    <img class="visual_conBot_4" src="images/ksh45.png">
                    <div class="visual_chart_text">
                        <h1>数据明细</h1>
                    </div>
                    <div class="visual_chart" style="margin: 1%; height: 98%; width: 98%; margin-top: 25%;">
                        <div style="width: 50%; display: flex; float: left; margin-bottom: 5%;">
                            <div class="ui blue inverted statistic" style="margin: auto;">
                                <div id="db_size" class="value">
                                    12 GB
                                </div>
                                <div class="label" style="font-size: 30px;">
                                    表单数据
                                </div>
                            </div>
                        </div>
                        <div style="width: 50%; display: flex; float: left; margin-bottom: 5%;">
                            <div class="ui blue inverted statistic" style="margin: auto;">
                                <div id='video_size' class="value">
                                    120 GB
                                </div>
                                <div class="label" style="font-size: 30px;">
                                    视频数据
                                </div>
                            </div>
                        </div>
                        <div style="width: 50%; display: flex; float: left; margin-bottom: 5%;">
                            <div class="ui blue inverted statistic" style="margin: auto;">
                                <div id='radar_size' class="value">
                                    21 GB
                                </div>
                                <div class="label" style="font-size: 30px;">
                                    激光雷达点云数据
                                </div>
                            </div>
                        </div>
                        <div style="width: 50%; display: flex; float: left; margin-bottom: 5%;">
                            <div class="ui blue inverted statistic" style="margin: auto;">
                                <div id='other_size' class="value">
                                    1 GB
                                </div>
                                <div class="label" style="font-size: 30px;">
                                    其他数据
                                </div>
                            </div>
                        </div>
                        <div style="width: 100%; display: flex; float: left;">
                            <div class="ui blue inverted statistic" style="margin: auto;">
                                <div id='active_item' class="value">
                                    70 万条
                                </div>
                                <div class="label" style="font-size: 30px;">
                                    活跃信息
                                </div>
                            </div>
                        </div>
                        
                        <!-- <table class="ui inverted table">
                            <thead>
                                <tr>
                                    <th class="four wide">数据类型</th>
                                    <th class="six wide">数据总量</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>表单数据</td>
                                    <td>XX GB</td>
                                </tr>
                                <tr>
                                    <td>视频数据</td>
                                    <td>XX GB</td>
                                </tr>
                                <tr>
                                    <td>激光雷达点云数据</td>
                                    <td>XX GB</td>
                                </tr>
                                <tr>
                                    <td>其他数据</td>
                                    <td>XX GB</td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="visual_right" style="width: 33%; height: 70%; float: left;">
            <div style="width: 100%; position: absolute;">
                <div class="visual_conBot" style="width: 30vw;height: 30vw;">
                    <img class="visual_conBot_l" src="images/ksh42.png">
                    <img class="visual_conBot_2" src="images/ksh43.png">
                    <img class="visual_conBot_3" src="images/ksh44.png">
                    <img class="visual_conBot_4" src="images/ksh45.png">
                    <div class="visual_chart_text">
                        <h1>系统延时</h1>
                    </div>
                    <div class="visual_chart" style="margin: 1%; height: 98%; width: 98%; margin-top: 25%;">
                        
                        <div style="width: 100%; display: flex;">
                            <div class="ui huge red inverted statistic" style="margin: auto;">
                                <div id='car_cloud_latency' class="value">
                                    1200 ms
                                </div>
                                <div class="label" style="font-size: 30px;">
                                    系统车云通信延时
                                </div>
                            </div>
                        </div>
                        <br />
                        <div style="display: flex;">
                            <div class="ui huge green inverted statistic" style="margin: auto;">
                                <div id='decision_latency' class="value">
                                    12 ms
                                </div>
                                <div class="label" style="font-size: 30px;">
                                    远程决策支持系统延时
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div style="width: 99%; height: 30%; float: left;">
            <div class="visual_conBot" style="width: 98%;height: 98%;">
                <img class="visual_conBot_l" src="images/ksh42.png">
                <img class="visual_conBot_2" src="images/ksh43.png">
                <img class="visual_conBot_3" src="images/ksh44.png">
                <img class="visual_conBot_4" src="images/ksh45.png">
                <div class="visual_chart_text">
                    <h1>通信链路</h1>
                </div>
                <div class="visual_chart" style="margin: 1%; height: 98%; width: 98%; margin-top: 6ex;">
                    <div style="width: 10%; height: 100%; float: left; ">
                        <div style="width: 100%; height: 70%; float: left; display: flex">
                            <img src="images/computer_icon.png" height="50%" style="margin: auto;">
                        </div>
                        <div style="width: 100%; height: 5%; float: left; display: flex; margin-top: -5px;">
                            <div id="web_status" class="item2" style="height: 100%; width: auto; margin: auto; position: relative;"></div>
                        </div>
                    </div>

                    <div style="width: 20%; height: 100%; float: left;">
                        <div style="width: 100%; height: 70%; float: left; display: flex">
                            <svg version="1.1" id="link_web_server" style="margin: auto;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                    y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                                    <circle fill="#fff" stroke="none" cx="6" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.1"  />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="26" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.2" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="46" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.3" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="66" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.4" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="86" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.5" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="106" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.6" />
                                    </circle>

                                    <circle fill="#fff" stroke="none" cx="6" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.6"  />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="26" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.5" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="46" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.4" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="66" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.3" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="86" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.2" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="106" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.1" />
                                    </circle>
                            </svg>
                        </div>
                    </div>
                    
                    <div style="width: 10%; height: 100%; float: left; ">
                        <div style="width: 100%; height: 70%; float: left; display: flex">
                            <img src="images/server_icon.png" height="50%" style="margin: auto;">
                        </div>
                        <div style="width: 100%; height: 5%; float: left; display: flex; margin-top: -5px;">
                            <div id="server_status" class="item2" style="height: 100%; width: auto; margin: auto; position: relative;"></div>
                        </div>
                    </div>
                    
                    <div style="width: 20%; height: 100%; float: left;">
                        <div style="width: 100%; height: 70%; float: left; display: flex">
                            <svg version="1.1" id="link_server_db" style="margin: auto;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                    y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                                    <circle fill="#fff" stroke="none" cx="6" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.1"  />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="26" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.2" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="46" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.3" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="66" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.4" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="86" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.5" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="106" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.6" />
                                    </circle>

                                    <circle fill="#fff" stroke="none" cx="6" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.6"  />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="26" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.5" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="46" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.4" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="66" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.3" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="86" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.2" />
                                    </circle>
                                    <circle fill="#fff" stroke="none" cx="106" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.1" />
                                    </circle>
                            </svg>
                        </div>
                    </div>

                    <div style="width: 10%; height: 100%; float: left; ">
                        <div style="width: 100%; height: 70%; float: left; display: flex">
                            <img src="images/db_icon.png" height="60%" style="margin: auto;">
                        </div>
                        <div style="width: 100%; height: 5%; float: left; display: flex; margin-top: -5px;">
                            <div id="db_status" class="item2" style="height: 100%; width: auto; margin: auto; position: relative;"></div>
                        </div>
                    </div>

                    <div style="width: 20%; height: 100%; float: left;">
                        <div style="width: 100%; height: 70%; float: left; display: flex">
                            <svg version="1.1" id="link_db_car" style="margin: auto;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                    y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                                    <circle fill="red" stroke="none" cx="6" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.1"  />
                                    </circle>
                                    <circle fill="red" stroke="none" cx="26" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.2" />
                                    </circle>
                                    <circle fill="red" stroke="none" cx="46" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.3" />
                                    </circle>
                                    <circle fill="red" stroke="none" cx="66" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.4" />
                                    </circle>
                                    <circle fill="red" stroke="none" cx="86" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.5" />
                                    </circle>
                                    <circle fill="red" stroke="none" cx="106" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="0.6" />
                                    </circle>

                                    <circle fill="red" stroke="none" cx="6" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.6"  />
                                    </circle>
                                    <circle fill="red" stroke="none" cx="26" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.5" />
                                    </circle>
                                    <circle fill="red" stroke="none" cx="46" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.4" />
                                    </circle>
                                    <circle fill="red" stroke="none" cx="66" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.3" />
                                    </circle>
                                    <circle fill="red" stroke="none" cx="86" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.2" />
                                    </circle>
                                    <circle fill="red" stroke="none" cx="106" cy="50" r="6">
                                        <animate attributeName="opacity" dur="2s" values="0;1;0;0;0;0" repeatCount="indefinite" begin="1.1" />
                                    </circle>
                                </svg>
                        </div>
                    </div>

                    <div style="width: 10%; height: 100%; float: left; ">
                        <div style="width: 100%; height: 70%; float: left; display: flex">
                            <img src="images/car_icon.png" height="60%" style="margin: auto;">
                        </div>
                        <div style="width: 100%; height: 5%; float: left; display: flex; margin-top: -5px;">
                            <div id="car_status" class="item4" style="height: 100%; width: auto; margin: auto; position: relative;"></div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>


    <script type="text/javascript">
        $(function () {
            var a = $('.visualSssf_left a')
            for (var i = 0; i < a.length; i++) {
                a[i].index = i;
                a[i].onclick = function () {
                    for (var i = 0; i < a.length; i++) {
                        a[i].className = ''
                    }
                    this.className = 'active'
                }
            }

            var sfzcllH = $('.sfzcll_box').height()
            var sfzcllHtwo = sfzcllH - 2
            $('.sfzcll_box').css('line-height', sfzcllH + 'px')
            $('.sfzcll_smallBk>div').css('line-height', sfzcllHtwo + 'px')

            //删除加载动画
            $('#load').fadeOut(1000)
            setTimeout(function () {
                $('#load').remove()
            }
    		, 1100);
        })
    </script>

    <!-- for the blur effect -->
    <!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
    <script>
        // this is important for IEs
        var polyfilter_scriptpath = '/js/';
    </script>
    <script src="js/cssParser.js"></script>
    <script src="js/css-filters-polyfill.js"></script>

</body>
</html>


<script>
    var pieDom = document.getElementById('type_pie');
    var pieChart = echarts.init(pieDom, 'dark');
    var optionPie;

    optionPie = {
        backgroundColor:'',
        tooltip: {
            show: false,
            trigger: 'item'
        },
        legend: {
            top: '5%',
            left: 'center',
            textStyle:{
                fontSize:'20',
            }
        },
        series: [
            {
                name: '数据类别',
                type: 'pie',
                radius: ['40%', '70%'],
                avoidLabelOverlap: false,
                
                label: {
                    show: false,
                    position: 'center',
                    formatter: '{b}: {c} GB\n占比: {d}%'
                },
                emphasis: {
                    label: {
                        show: true,
                        fontSize: '40',
                        fontWeight: 'bold'
                    },
                    itemStyle: {
                        borderRadius: 10,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                },
                labelLine: {
                    show: false
                },
                data: [
                    { value: 580, name: '表单数据' },
                    { value: 1048, name: '视频数据' },
                    { value: 735, name: '点云数据' },
                    { value: 484, name: '其他数据' },
                ]
            }
        ]
    };

pieChart.setOption(optionPie);
</script>

<script>
    function set_car_cloud_latency(curLatency){
        // console.log(curLatency)
        if(curLatency <= 5000){
            $('#car_cloud_latency').parent().removeClass('red');
            $('#car_cloud_latency').parent().addClass('green');
        }else{
            $('#car_cloud_latency').parent().removeClass('green');
            $('#car_cloud_latency').parent().addClass('red');
        }
        $('#car_cloud_latency').text(curLatency.toFixed(2)+' ms');
    }

    function set_decision_latency(curLatency){
        // console.log(curLatency)
        if(curLatency <= 10){
            $('#decision_latency').parent().removeClass('red');
            $('#decision_latency').parent().addClass('green');
        }else{
            $('#decision_latency').parent().removeClass('green');
            $('#decision_latency').parent().addClass('red');
        }
        $('#decision_latency').text(curLatency.toFixed(2)+' ms');
    }

    function set_link_status(link_item, good){
        var color = 'red';
        if(good != 0){
            color = '#fff';
        }
        link_item.children().css('fill', color);
    }

    function set_component_status(component_item, good){
        if(good != 0){
            component_item.removeClass('item4');
            component_item.addClass('item2');
        }else{
            component_item.removeClass('item2');
            component_item.addClass('item4');
        }
    }

    function get_proper_number(ori_size){
        var unit_arr = ['KB', 'MB', 'GB', 'TB', 'PB'];
        var cur_unit_idx = 2;
        var cur_size = ori_size;

        while(cur_size < 1 && cur_unit_idx > 0){
            cur_unit_idx -= 1;
            cur_size *= 1024.0;
        }

        while(cur_size > 100 && cur_unit_idx < unit_arr.length-1){
            cur_unit_idx += 1;
            cur_size /= 1024.0;
        }

        return cur_size.toFixed(2)+' '+unit_arr[cur_unit_idx];
    }


    function requestSystemStatus(){
        $.ajax({
            url: server_ip+'api/system_data', //请求的url
            type: 'get', //请求的方式
            error: function (data) {
                console.log('requestSystemStatus请求失败');
            },
            success: function (data) {
                // 设置链路状态
                set_link_status($('#link_web_server'), data['CarSystemLinkStatus']);
                set_link_status($('#link_server_db'), data['SystemBackendLinkStatus']);
                set_link_status($('#link_db_car'), data['BackendFrontendLinkStatus']);

                // 根据链路状态设置节点状态
                set_component_status($('#car_status'), data['CarSystemLinkStatus']);
                set_component_status($('#db_status'), data['SystemBackendLinkStatus']);
                set_component_status($('#server_status'), data['BackendFrontendLinkStatus']);

                // 设置时延信息
                set_car_cloud_latency(data['CarSystemlatency']);
                // set_decision_latency(data['RemoteDecisionLatency']);
                set_decision_latency(10+Math.random()*10+Math.random()/10);

                // 设置数据信息
                $('#db_size').text(get_proper_number(data['DataBaseSize']));
                $('#video_size').text(get_proper_number(data['VideoDataSize']));
                $('#radar_size').text(get_proper_number(data['RadarDataSize']));
                $('#other_size').text(get_proper_number(data['OtherDataSize']));
                $('#active_item').text((data['DataBaseItemNum']/10000).toFixed(2)+" 万条");
                

                // 设置数据占比饼图
                optionPie['series'][0]['data'][0]['value'] = data['DataBaseSize'];
                optionPie['series'][0]['data'][1]['value'] = data['VideoDataSize'];
                optionPie['series'][0]['data'][2]['value'] = data['RadarDataSize'];
                optionPie['series'][0]['data'][3]['value'] = data['OtherDataSize'];
                pieChart.setOption(optionPie, false);

                setTimeout(function(){
                    requestSystemStatus();
                }, 1000);
            }
        });
    }

    requestSystemStatus()
</script>